.show-more{
    border-bottom  : 1px solid #DDDDDD;
    border-top     : 1px solid #DDDDDD;
    display        : block;
    font-size      : 20px;
    padding        : 10px 0;
    text-align     : center;
    text-transform : uppercase;
}

// Products List
//==================================================
.product-list{
    .inline-block-wrap(top);
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
}

.product-item {
    .grid-elements(3; 0; true);
    .clearfix-mixin();
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;

    &.grid{ }

    &.list{ }

    // General styles
    .product-image{
        display: block;
        margin-bottom: 45px;

        img{ }
    }

    .product-title{
        display: block;
        font: 400 14px/20px Lato;
        color: #292929;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    .product-description{
        margin-bottom: 10px;
        font-size: 12px;
    }

    .product-price{
        display: block;
        font: 700 48px/48px Lato;
        color: #292929;
        padding: 0;
        margin-bottom: 10px;
    }

    .tcart-add, .btn{
        .button();
        .user-select();
        .box-shadow(none; @input-shadow-focus);
        font: 900 21px/34px Lato;
        padding: 16px 10px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 0 0 1px 0;
    }
}

.product-item-content{
    text-align: left;
    background: #fff;
    padding: 30px 30px 13px;
}

// Products List in SideBar
//==================================================
.sidebar{

    .product-item{

        .product-image{
            img{ }
        }

        .product-title{ }

        .product-description{ }

        .product-price{ }

        .tcart-add{ }
    }
}

// Related Products
//==================================================
.related-products{
    li{
        .product-title{ }

        .product-image{
            img{ }
        }

        .product-description{ }

        .product-price{ }

        .tcart-add{ }

    }
}
