//	Search form
//==================================================
#search-form when (@widget-search) {
	.clearfix-mixin();

	input, button {
		float : left;
	}
	button {
		background-color : @brand-dark;
	}

	[type="text"] {
		width        : ~'calc(100% - 3.57em)';
		border-color : @primary-color;
		&:focus {
			border-color : @brand-dark;
		}
	}

	[type="submit"] {
		padding     : 0;
		width       : 3.57em;
		height      : 3.57em;
		overflow    : hidden;
		white-space : nowrap;
		line-height : 3.57em;
		color       : @primary-color;
		&:focus, &:hover {
			background-color : darken(@brand-primary, 10%);
		}

		&::before {
			float       : left;
			width       : 100%;
			margin      : 0;
			font-size   : 1.714em;
			line-height : inherit !important;
			content     : "\e068";
			font-family : @font-family-icons;
		}
	}
}