// Parallax
//==================================================
// Default parallax effect
// Support: FF, Chrome, Safari, Opera, IE8+
.parallax when (@parallax = true) {
	background-size       : cover;
	background-position   : 50% 50%;
	background-repeat     : no-repeat;
	background-attachment : fixed;
	overflow              : hidden;
	height                : @parallax-height;
	@media only screen and (max-width : @responsive-size-tablet) {
		background-attachment : scroll;
	}
	.mobile &, .tablet &, &.bg-scroll{
		background-attachment : scroll;
	}

	&.take-from-widget, .take-from-widget {
		position : relative;
		& > img, & > ._lbox {
			display : none;
		}
		[data-url*="imageonly"] {
			position : absolute;
			left     : 5px;
			top      : 5px;
			z-index  : 999;
		}
	}

	&.height-auto {
		height : auto;
	}
	&.top-img {
		background-attachment : scroll;
		background-repeat: repeat-x;
		background-size: auto;
		background-position: bottom center;
	}
}
