//	PAGE Style
//==================================================
html, body {
	height : 100%;
}
body {
	// custom scroll-bar
	//.scroll-bar();
	background-color : #F3F3F3;
}
main {
}
#page {
}
//	HEADER Style
//==================================================
header {
	padding-top : 3.64em;
	position    : relative;
	background  : @header-bg;
	color       : @header-color;
	z-index     : 122;

	// -- LOGO Style
	.logo {
		position        : relative;
		text-decoration : none;
		z-index         : 123;
		a {
			border-top : 1px solid #404040;
			padding    : 2.14rem;
			.inline-block();
			.gradient-vertical(#292929 1%, #222 100%);
		}
		@media only screen and (max-width : @responsive-size-tablet) {
			margin-bottom : 1.07rem;
		}

		img {
		}
	}

	.index-page & {
		position : absolute;
		top      : 0;
		left     : 0;
		right    : 0;
	}
}
.header-container {
	padding : 2.14rem 0;
}
.top-line {
	position      : absolute;
	top           : 0;
	left          : 0;
	width         : 100%;
	padding-top   : 1rem;
	border-bottom : 1px solid darken(@brand-primary, 20%);
	p {
		.inline-block();
		& + p {
			margin-left : 1rem;
		}
		&[class*="icon"] {
			&::before {
				margin-right : 1rem / 2;
			}
		}
	}
}
// -- NAV Style
nav {
}
//	CONTENT Style
//==================================================
article {
}
section {
}
//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		margin-bottom : 2.142em;
	}
}
//	FOOTER Style
//==================================================
footer {
	padding    : 6.428em 0 2.857em;
	color      : @footer-color;
	background : url("/media/bg/original/footer_background.png") repeat-x center top @footer-bg;
}
.footer-logo {
	margin-bottom : 1.571em;
}
.company-description {
	margin-bottom : 1.571em;
}
//	Button to scroll top
//==================================================
.webPage-go-top.btn, .call-us-btn .btn {
	line-height : 4rem;
	width       : 4rem;
	background  : @primary-color;
	.border-radius(50%);
	.box-shadow(1px 1px 10px 0 rgba(0, 0, 0, 0.25));
	z-index     : 50;
	&:hover {
		background : @brand-dark;
		color      : @primary-color;
	}
	&::before {
		font-size : 2.142rem;
	}
}
.webPage-go-top.btn {
	&:hover {
		background : @brand-primary;
		color      : @brand-dark;
	}
}
.call-us-btn {
	position : absolute;
	top      : 7px;
	right    : 40px;
	z-index  : 12;
}
.main-content {
	margin-top : 2.142rem;
}
.subscribe {
	padding : 0.71rem 0;
	h3 {
		background     : none;
		border-bottom  : none;
		font-weight    : 700;
		font-size      : 1.5em;
		line-height    : 1.428em;
		text-transform : uppercase;
		&::before {
			margin-right : 10px;
		}
	}
}
.blog {
	padding : 62px 0 120px;
}
.contact-info {
	position : relative;
	&.parallax {
		height : 470px;
	}
	&::before {
		position : absolute;
		content  : '';
		display  : block;
		left     : 0;
		right    : 0;
		top      : 0;
		bottom   : 0;
		.rgba(#000; 70%);
		z-index  : 1;
	}
	.contact-text {
		position : absolute;
		top      : 50%;
		left     : 0;
		right    : 0;
		z-index  : 2;
		color    : @primary-color;
		.translate(0; -50%);
		&::before {
			position      : relative;
			display       : block;
			top           : 0;
			font-size     : 74px;
			line-height   : 1;
			color         : #FCC605;
			margin-bottom : 36px;
		}
	}
	address {
		display        : block;
		font-weight    : 700;
		font-size      : 1.5em;
		line-height    : 1.14;
		text-transform : uppercase;
		color          : @primary-color;
		margin-bottom  : 11px;
	}
	.email, .phone {
		font-weight   : 400;
		line-height   : 1;
		font-size     : 2.428em;
		margin-bottom : 0;
		margin-top    : 8.5px;
		a {
			color : @brand-primary;
		}
	}
}
.copyright {
	border-top : 1px solid #777;
	margin-top : 95px;
	h4 {
		font-size   : 0.857em;
		line-height : 1.5;
		color       : #777;
		padding     : 2.41em 0;
		font-weight : 400;
	}
}
.animated-circles {
	&::before, &::after {
		content  : '';
		.rgba(darken(@brand-primary, 10%); 40%);
		width    : 4em;
		height   : 4em;
		position : absolute;
		z-index  : 49;
		top      : 0;
		left     : 0;
		.border-radius(50%);
		.scale(1);
	}
	&.animated {
		&::before {
			animation : 2000ms scaleToggleOne cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
		}
		&::after {
			animation : 2500ms scaleToggleTwo cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
		}
	}
}
.main-arrow {
	position    : absolute;
	bottom      : 85px;
	left        : 50%;
	margin-left : -30px;
	.inline-block();
	font-size   : 60px;
	line-height : 1;
	color       : @brand-primary;
	z-index     : 122;
	&:hover {
		color : @primary-color;
	}
}
.top-title {
	padding : 2.07em 0 1.857em;
	h1, .h1 {
		margin      : 0;
		font-size   : 2.428em;
		line-height : 1;
		font-weight : 700;
	}
	time.h1 {
		font-weight : 100;
	}
}
.product-tabs {
	margin-bottom : 2.142rem;
	.tab_nav {
		margin-top    : 0;
		margin-bottom : 0;
		.inline-block-wrap(top);
		li {
			.grid-elements(1; 0; true; 1; 2);
			width: auto;
			&.active {
				a {
					color      : #FFF;
					background : #292929;
					border     : 1px solid #101010;
				}
			}
			margin : 0 1px 0 0;
			@media only screen and (max-width : @responsive-size-phone) {
				margin : 0;
			}
			a {
				text-shadow     : none;
				color           : inherit;
				padding         : 8px 15px;
				font-weight     : bold;
				text-decoration : none;
				display         : block;
				background      : #EEE;
				border-radius   : 0 0 0 0;
				border          : 1px solid @input-border-color;
				margin          : 0 0 -1px 0;
			}
		}
		& + .product-tab {
			display : block;
		}
	}
	.product-tab {
		display       : none;
		padding       : 1.07em;
		background    : #FDFDFD;
		border        : 1px solid @input-border-color;
		border-radius : 0;
		.box-shadow(0 2px 3px rgba(0, 0, 0, 0.05));
		.h2 {
			margin-bottom : 1.07rem;
		}
	}
}
.starrating {
	.r-head-text, .no-reviews {
		display : none;
	}
	.stars-container {
		margin-bottom : @font-size-base;
	}
}
.pagerating-list {
	.name {
		display        : block;
		font-size      : 2.43rem;
		font-weight    : 100;
		line-height    : 1;
		text-transform : uppercase;
		padding        : 0.47em 0.88em 0.5em;
		margin-bottom  : 1.07rem;
		color          : @primary-color;
		background     : @brand-dark;
	}
	.pagerating-info {
		.inline-block-wrap();
		.by {
			display : none;
		}
		.author {
			text-transform : uppercase;
			font-weight    : bold;
			display        : block;
		}
		.published {
			display : block;
		}
	}
	.pagerating-review {
		margin-bottom : 2.142rem;
	}
	.pagerating-content {
		padding : 1.07rem 1.07rem 1.07rem 5rem;
		border  : 1px solid @input-border-color;

		&::before {
			display          : block;
			float            : left;
			font-family      : @font-family-icons;
			font-size        : 2rem;
			content          : "\e05f";
			width            : 3rem;
			height           : 3rem;
			line-height      : 3rem;
			text-align       : center;
			background-color : @gray-lighter;
			margin-left      : -4rem;
			border           : 1px solid @input-border-color;
		}
	}
	.description {
		margin-top : @font-size-base;
	}
}
.mfp-figure:after {
	background : @primary-color !important;
}
.admin-actions, .newslog-admin-actions {
	padding       : @font-size-base 0 0.35rem;
	margin        : @font-size-base 0;
	border-top    : @hr-size solid @hr-color;
	border-bottom : @hr-size solid @hr-color;
	a {
		.button();
		margin-bottom  : 0.72rem;
		margin-right   : 0.72rem;
		text-transform : capitalize;
	}
	.static &, .news-page & {
		padding-top : 0;
		margin-top  : 0;
		border-top  : none;
	}
	.blog &, .pagerating-list & {
		margin-bottom : 0;
	}
}
.offers {
	margin-bottom : 2.142rem;
}
.sorting-container {
	background : @primary-color;
	padding    : 2.142rem;
}
.filtering-form {
	ul {
		list-style-type : none;
		margin          : 0;
		padding         : 0;
	}
	li {
		margin-bottom : 2.142rem;
		border        : 1px solid @input-border-color;
		padding       : 0.7rem 1rem 0.5rem;
		li {
			border        : none;
			margin-bottom : 0.25rem;
			padding       : 0;
		}
	}
	.filter-header {
		font-weight    : bold;
		text-transform : uppercase;
		border-bottom  : 1px solid @input-border-color;
		padding-bottom : 0.5rem;
		margin-bottom  : 0.7rem;
	}
	.filter-slider {
		margin-left   : 10px;
		margin-right  : 10px;
		margin-bottom : 10px;
	}
	[type="submit"], a.reset {
		float : left;
		.button();
		width : 49%;
	}
	[type="submit"] {
		margin-left : 2%;
	}
}
.checkout-page {
	.mobile-loader {
		display : none !important;
	}
}