//	PAGE Style
//==================================================
body {
	// custom scroll-bar
	//.scroll-bar();
	background-color: #f3f3f3;
}
main {
}
#page {
}
//	HEADER Style
//==================================================
header {
	padding-top: 49px;
	position: relative;
	background : @header-bg;
	color      : @header-color;

	// -- LOGO Style
	.logo {
		position: relative;
		margin-top: @font-size-base * 5;
		margin-bottom: @font-size-base * 5;
		text-decoration : none;
		z-index: 1;
		a {
			display : inline-block;
		}

		img {
		}
	}
}

.top-line{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	padding-top: @font-size-base;
	p{
		.inline-block();
		& + p {
			margin-left: @font-size-base;
		}
		&[class*="icon"]{
			&::before{
				margin-right: @font-size-base / 2;
			}
		}
	}
}

// -- NAV Style
nav {
}
//	CONTENT Style
//==================================================
article {
}
section {
}
//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		margin-bottom : 30px;
	}
}
//	FOOTER Style
//==================================================
footer {
	padding    : @padding-larger-vertical * 2 0;
	background : @footer-bg;
	color      : @footer-color;
	font-size  : @font-size-small;
}
//	Button to scroll top
//==================================================
#go-top {
	.button-color(#ffffff; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.main-content{
	margin-top: 30px;
}

.image-example{
	text-align: center;
	overflow: hidden;
	& > img{
		margin-left: auto;
		margin-right: auto;
		margin-top: -3432px;
		display: block;
	}
}
